<html lang="en">
    <head> </head><a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <title>My Blog Website</title>

    <body>
        <h1>All of my blog posts</h1>
    </body>

</html>
