---
const pageTitle = "About Me";
---

<html lang="en">
    <head> </head><a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <title>My Blog Website</title>
    <body>
        <h1>All of my blog posts</h1>
        <ul>
            <li><a href="/posts/post-1/">Post 1</a></li>
            <li><a href="/posts/post-2/">Post 2</a></li>
            <li><a href="/posts/post-3/">Post 3</a></li>
        </ul>
        <style>
            body {
              background-color: #f5f0e6;
              color: #333333; /* Optional: good contrast */
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 20px;
            }
    </body>

</html>
